.normalstage{
  color: gold;
  animation: shine 2s infinite alternate, revolve 5s linear infinite;
}

.stage-size {
  font-size: 25px;
  color: gold;
  cursor: pointer;
  animation: shine 2s infinite alternate, revolve 5s linear infinite;
}
@keyframes shine {
    0% {
        filter: drop-shadow(0 0 10px gold);
        transform: scale(1);
      }
      50% {
        filter: drop-shadow(0 0 50px yellow);
        transform: scale(2);
      }
      100% {
        filter: drop-shadow(0 0 10px gold);
        transform: scale(1);
      }
}

@keyframes revolve {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
